{{ define "login" }}
{{ template "header"}}
<div class="container col-md-2">
    <form class="form-signin" role="form" method="post" action="/login">
        <h2 class="form-signin-heading">BestChat sign In</h2>
        <input name="login" type="text" class="form-control" placeholder="login" required autofocus style="margin-bottom : 10px;">
        <input name="password" type="password" class="form-control" placeholder="Password" required style="margin-bottom : 10px;">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <a href="/registration">register now</a>
</div>
<script src="assets/login.js"></script>
{{ template "footer"}}
{{ end }}