{{ define "registration"}}
{{ template "header"}}
<div class="container col-md-2">
    <h2 class="text-center">Registration</h2>
    <form class="form-signin" role="form" data-toggle="validator" action="/createUser" method="post">
        <input name="nickName" type="text" class="form-control form-input" placeholder="nick name" required autofocus>
        <input name="login" type="text" class="form-control form-input" placeholder="login" required autofocus>
        <input name="password" type="password" class="form-control form-input" placeholder="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register Me</button>
    </form>
</div>
{{ template "footer"}}
{{ end }}